* {
   font-family: arial, sans-serif;
   font-size: 15px;
   text-decoration: none;
   color: black;
   margin: 0;
   padding: 0;
}
.container {
   background-color: white;
   border: 5px solid black;
   border-radius: 5px;
   width: 720px;
   height: 720px;
   margin: 60px auto;
}
.square {
   background-color: white;
   height: 45px;
   width: 45px;
   float: left;
}
.square-hover {
   background-color: grey;
}
