* {
   font-family: arial, sans-serif;
   font-size: 15px;
   text-decoration: none;
   color: black;
   margin: 0;
   padding: 0;
}
h1 {
   text-align: center;
}
.title {
   width: 100%;
   text-align: center;
}
form {
   display: inline-block;
   text-align: center;
   position: relative;
}
form input {
   margin-right: 5px;
}
.clear {
   height: 40px;
   width: 150px;
   color: gray;
   border: none;
   background-color: #e5e5e5;
   border-radius: 2px;
   font-weight: bold;
   text-align: center;
   margin: 20px 10px;
}
.clear:hover {
   border: 2px solid grey;
   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
   color: black;
}
.container {
   background-color: white;
   border: 5px solid black;
   border-radius: 5px;
   width: 720px;
   height: 720px;
   margin: 20px auto;
}
.square {
   background-color: white;
   height: 45px;
   width: 45px;
   float: left;
   opacity: 0;
}
